 <h1 [hidden]="hideTitle">Welcome to {{title}}!</h1>
<button (click)="hideTitle = !hideTitle">Hide/Unhide Title</button>

 <p>The sum of 2 + 2 = {{ 2 + 2 }}</p>

 <hr>
<input [(ngModel)]="appInput" type="text"/>
<p>{{ appInput }} </p>
<hr>
<label for="animal">Animal: </label>
<input [(ngModel)]="animal" type="text">

<label for="verb">Verb: </label>
<input [(ngModel)]="verb" type="text">

<p>My pet {{ animal }} can {{ verb }} like nobodys business!</p>
<hr>
<h2 *ngIf="!isHungry">I AM HUNGRY!</h2>
<h2 *ngIf="isHungry">I AM NOT HUNGRY!</h2>

<hr>

<h3>Iterating through our names array with *ngFor</h3>
<ul>
  <li *ngFor="let name of names">{{name}} </li>
</ul>

<h3>Iterating through our foods array with *ngFor</h3>
<p *ngFor="let food of foods; let i = index">{{i + 1}} || Food: {{food}}</p>

<hr>
<h4>Library:</h4>
<div *ngFor="let book of books">
  <h5>Title: {{book.title}}</h5>
  <p>Page Count: {{book.pageCount}}</p>
</div>

<hr>
<span *ngFor="let num of methodThatReturnsArray()"> {{num | currency}} || </span>

<hr>
<button (click)="logEvent($event)">Console Log Event Object</button>

<h3 [ngStyle]="{'color': 'red', 'font-family': 'monospace'}">ngStyle Example</h3>
<h3 [ngStyle]="styleObject">ngStyle Example</h3>

<button [ngClass]="'color-one font-one'">ngClass Example</button>
<button [ngClass]="{'color-two': true, 'font-two': !isHungry}">ngClass Example</button>
